{% extends "layouts_admin.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
	<h2 class="text-center">{{ block('title') }}</h2>
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">
			{{ flashMessage }}
		</div>
	{% endfor %}
<div class="col-lg-10 col-lg-offset-1 contentAdmin">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
				<li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
				<li><a href="#events" data-toggle="tab">Event</a></li>
				<li><a href="#slide" data-toggle="tab">Slide</a></li>
				<li><a href="#texte" data-toggle="tab">Texte Asso</a></li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade in active adminTable" id="articles">
			{% if articles %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Titre</th>
							<th>Contenue</th>
							<th></th>  <!-- Actions column -->
						</tr>
					</thead>
					{% for article in articles %}
					<tr>
						<td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
						<td>{{ article.content | truncate(60) }}</td>
						<td>
							<a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs btnEdi" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
							<button type="button" class="btn btn-danger btn-xs btnSup" title="Delete" data-toggle="modal" data-target="#articleDialog{{ article.id }}"><span class="glyphicon glyphicon-remove"></span>
							</button>
							<div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
										</div>
										<div class="modal-body">
											Voulez-vous vraiment le supprimer ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
											<a href="{{ path('admin_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Confirmer</a>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
			<div class="alert alert-warning">Aucun article trouvé.</div>
			{% endif %}
			<a href="{{ path('admin_article_add') }}"><button type="button" class="btn btn-primary btnAdd"><span class="glyphicon glyphicon-plus"></span> Ajouter un article</button></a>
		</div>
		<div class="tab-pane fade adminTable" id="users">
			{% if users %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Role</th>
							<th></th>  <!-- Actions column -->
						</tr>
					</thead>
					{% for user in users %}
					<tr>
						<td>{{ user.username }}</a></td>
						<td>
							{% if user.role == 'ROLE_ADMIN' %}
								Admin
							{% else %}
								User
							{% endif %}
						</td>
						<td>
							<a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs btnEdi" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
							<button type="button" class="btn btn-danger btn-xs btnSup" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
							</button>
							<div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
										</div>
										<div class="modal-body">
											Voulez-vous vraiment supprimez cette utilisateur ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
											<a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirmer</a>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
			<div class="alert alert-warning">Aucun utilisateur trouvé.</div>
			{% endif %}
			<a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary btnAdd"><span class="glyphicon glyphicon-plus"></span> Ajouter utilisateur</button></a>
		</div>
		<div class="tab-pane fade adminTable" id="events">
			{% if events %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Titre</th>
							<th>Lieu</th>
							<th>Date</th>
							<th></th>  <!-- Actions column -->
						</tr>
					</thead>
					{% for event in events %}
					<tr>
						<td><a class="eventTitle" href="">{{ event.title }}</a></td>
						<td>{{ event.Lieu }}</td>
						<td>{{ event.dateEv|date('d-m-Y') }}</td>
						<td>
							<a href="{{ path('admin_event_edit', { 'id': event.id }) }}" class="btn btn-info btn-xs btnEdi" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
							<button type="button" class="btn btn-danger btn-xs btnSup" title="Delete" data-toggle="modal" data-target="#eventDialog{{ event.id }}"><span class="glyphicon glyphicon-remove"></span>
							</button>
							<div class="modal fade" id="eventDialog{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
										</div>
										<div class="modal-body">
											Voulez-vous vraiment le supprimer ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
											<a href="{{ path('admin_event_delete', { 'id': event.id }) }}" class="btn btn-danger">Confirmer</a>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
			<div class="alert alert-warning">Aucun event trouvé.</div>
			{% endif %}
			<a href="{{ path('admin_event_add') }}"><button type="button" class=" btnAdd btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un event</button></a>
		</div>
		<div class="tab-pane fade adminTable" id="slide">
			{% if slides %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Titre</th>
							<th>SubTitle</th>
							<th>image</th>
							<th></th>  <!-- Actions column -->
						</tr>
					</thead>
					{% for slide in slides %}
					<tr>
						<td><a class="eventTitle" href="">{{ slide.title }}</a></td>
						<td>{{ slide.subTitle }}</td>
						<td>{{ slide.image }}</td>
						<td>
							<a href="{{ path('admin_slide_edit', { 'id': slide.id }) }}" class="btn btn-info btn-xs btnEdi" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
			<div class="alert alert-warning">Aucun slide trouvé.</div>
			{% endif %}
		</div>
		<div class="tab-pane fade adminTable" id="texte">
			{% if texte %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Texte Asso</th>
							<th></th>  <!-- Actions column -->
						</tr>
					</thead>
					{% for textes in texte %}
					<tr>
						<td>{{ textes.texteDesc }}</td>
						<td>
							<a href="{{ path('admin_texte_edit', { 'id': textes.id }) }}" class="btn btn-info btn-xs btnEdi" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
			<div class="alert alert-warning">Aucun texte trouvé.</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
