{% extends "layout.html.twig" %}

{% block title%}Home{% endblock %}

{% block content %}


  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
   
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active"> 
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Evenement x</h1>        
            <h3>Lorem ipsum</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">En savoir +</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Evenement x</h1>        
            <h3>Lorem ipsum</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button">En savoir +</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Evenement x</h1>        
            <h3>Lorem ipsum</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">En savoir +</button>
      </div>
    </div>
  </div> 
</div>   
      
            <!--Actualités-->
            <section class=" container actualite text-center">
              <h2>Nos articles</h2>
                <div class="row">
					{% for article in articles|slice(0, 3) %}
                    <!--Article numéro 1-->
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail articles">
                            <img src="{{ app.request.basepath }}/images/Articles/{{ article.image }}"  alt="{{ article.image }} "/>
                            <div class="caption">
                                <h2>{{ article.title }}</h2>
                                <p>{{ article.dateArt|date('d-m-Y') }}</p>
                                <p class="text-justify">
                                  {{ article.content }}
                                </p>
                            </div>
                        </div>
                    </div>
					{% endfor %}
                    <!--Plus d'articles-->
                    <a href="actualite.html" class="btn btn-primary more " role="button"><i class="fa fa-plus" aria-hidden="true"></i> ARTICLES</a>
                </div>
                <!--Fin row-->
            </section>

    <!--Association-->
    <section class="container text-center asso">
            <h2>ASRAC</h2>
            <p><em>ipsum dolor!</em></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <p class="text-center"><strong>Nom</strong></p><br>
                    <a href="#membre" data-toggle="collapse">
                        <img src="../web/images/avatar.jpg" class="img-circle person" alt="Président" width="255" height="255">
                    </a>
                    <div id="membre" class="collapse">
                        <h3>Président</h3>
                        <p>Ut enim ad minim veniam</p>
                        <p>Fondateur</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="text-center"><strong>Nom</strong></p><br>
                    <a href="#membre2" data-toggle="collapse">
                        <img src="../web/images/avatar3.jpg" class="img-circle person" alt="Secrétaire" width="255" height="255">
                    </a>
                    <div id="membre2" class="collapse">
                        <h3>Secrétaire</h3>
                        <p>Ut enim ad minim veniam</p>
                        <p>Membre depuis 2015</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="text-center"><strong>Nom</strong></p><br>
                    <a href="#membre3" data-toggle="collapse">
                        <img src="../web/images/avatar2.jpg" class="img-circle person" alt="Trésorier" width="255" height="255">
                    </a>
                    <div id="membre3" class="collapse">
                        <h3>Trésorier</h3>
                        <p>Ut enim ad minim veniam</p>
                        <p>Membre depuis 2014</p>
                    </div>
                </div>
            </div>
    </section>
    <!--Evenement-->
    <section class="container text center evenements">
        <div id="tour" class="bg-1">
                <h2 class="text-center">Les Events</h2>
                <p class="text-center">Lorem ipsum we'll play you some music.<br> Lorem ipsum we'll play you some music</p>
                <ul class="list-group">
                    <li class="list-group-item" data-toggle="modal" data-target="#myModal">Novembre <span class="badge">3</span></li>
                    <li class="list-group-item">Décembre <span class="badge">3</span></li>
                    <li class="list-group-item">Janvier <span class="badge" data-toggle="modal" data-target="#myModal">3</span></li>
                </ul>

            <!-- Modal agenda mois-->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h3><i class="fa fa-calendar fa-1x" aria-hidden="true"></i> Agenda</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row text-center">
                                <div class="col-sm-4">
                                    <div class="thumbnail thumbmodal">
                                        <img src="../web/images/agenda1.jpg" alt="Rennes Sud" width="700" height="500">
                                        <p><strong>Evénement x</strong></p>
                                        <p><strong>Rennes Sud</strong></p>
                                        <p>Vendredi 27 Novembre 2016</p>
                                        <button class="btn" data-toggle="modal" data-target="#Modal2">+ de détails</button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail thumbmodal">
                                        <img src="../web/images/agenda1.jpg" alt="Rennes Nord" width="700" height="500">
                                        <p><strong>Evénement y</strong></p>
                                        <p><strong>Rennes Nord</strong></p>
                                        <p>Samedi 28 Novembre 2016</p>
                                        <button class="btn" data-toggle="modal" data-target="#myModal">+ de détails</button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail thumbmodal">
                                        <img src="../web/images/agenda1.jpg" alt="Rennes Est" width="700" height="500">
                                        <p><strong>Evénement z</strong></p>
                                        <p><strong>Rennes Est</strong></p>
                                        <p>Dimanche 29 Novembre 2016</p>
                                        <button class="btn" data-toggle="modal" data-target="#myModal">+ de détails</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal agenda jour -->
            <div class="modal fade" id="Modal2" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4><span class="glyphicon glyphicon-lock"></span> Workshop</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <div class="thumbnail">
                                        <img src="paris.jpg" alt="Paris" width="400" height="300">
                                        <p><strong>Description : </strong></p>
                                        <p>Vendredi 27 Novembre 2016</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Charte de l'association-->
    <section class="charte"></section>
    <!--Formulaire de contact-->
    <!-- Container (Contact Section) -->
<div id="contact" class="container bg-grey">
  <div class="row">
    <div class="col-sm-5 text-center">
      <p>Contactez nous.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>ASRAC Rennes</br>
           19 Rue de Guyennne - 35 000 Rennes</p>
      <p><span class="glyphicon glyphicon-phone"></span> 06.22.22.22.22</p>
      <p><span class="glyphicon glyphicon-envelope"></span> monemail@asrac.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>
    </section>

 {% endblock %}
