<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ app.request.basepath }}/lib/Font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="{{ app.request.basepath }}/css/styles.css" rel="stylesheet">
		<title>Asrac</title>
	</head>
	<body>

{% for article in articles %}
<article class="col-lg-offset-0 col-lg-9 col-lg-offset-3">
    <center>
		<h2>
			<a class="articleTitle" href="">{{ article.title }}</a>
		</h2>
		<p class="date">{{ article.dateArt|date('d-m-Y') }}</p>
		<p>{{ article.content }}</p>
	</center>
    <img src="{{ app.request.basepath }}/images/Articles/{{ article.image }}" class="col-lg-offset-1 col-lg-10  img-responsive imgIndex" alt="{{ article.image }}"/>

</article>
{% endfor %}
		</body>
