<!DOCTYPE html>
<html>

<head>
    <title>ASRAC - {% block title %} {% endblock %}</title>

    <!---Meta-->
    <meta charset="utf-8" author="Code academie" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--GOOGLE FONT--->
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Indie+Flower|Rubik" rel="stylesheet"> 

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="{{ app.request.basepath }}/lib/bootstrap.min.css" media="screen">
    <!--CSS-->
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" media="screen">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="{{ app.request.basepath }}/lib/font-awesome.min.css" media="screen">
<!--Animatecss-->
 <link rel="stylesheet" href="{{ app.request.basepath }}/lib/animate.min.css" media="screen">
<link rel="stylesheet" href="{{ app.request.basepath }}/lib/animate.css" media="screen">
   
 <!--Hovercss------->
   <link rel="stylesheet" href="{{ app.request.basepath }}/lib/hover-min.css" media="screen"> 
   <link rel="stylesheet" href="{{ app.request.basepath }}/lib/hover.css" media="screen"> 
 
    <!--JAVASCRIPT-->
    <script src="{{ app.request.basepath }}/lib/script.js"></script>
    <script src="{{ app.request.basepath }}/lib/jquery.js"></script>
    <script src="{{ app.request.basepath }}/lib/bootstrap.min.js"></script>
</head>

<body>
    <!--Header-->
    <header>
        <!--Barre de navigation-->
        <nav class="navbar navbar-inverse  navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					   <span class="icon-bar"></span>
					   <span class="icon-bar"></span>
					   <span class="icon-bar"></span>
					 </button>
                    <!--Nom de l'association-->
                    <a class="navbar-brand titresite" href="{{ path('home') }}">ASRAC</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('all_articles') }}">Actualites</a></li>
                        <li><a href="{{ path('home') }}#evenement">Evenements</a></li>
                        <li><a href="{{ path('home') }}#formulaire">Contact</a></li>
						{% if app.user and is_granted('ROLE_ADMIN') %}
    						<li><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
						{% endif %}
						{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        	<li class="dropdown">
                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            		<span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('logout') }}">Deconnexion</a></li>
								</ul>
                        	</li>
						{% endif %}
                    </ul>
                </div>
            </div>
        </nav>    
    </header>
    
   <div id="content">{% block content %}{% endblock %}</div>
   
   <!--------Footer------->
   
   <footer id="footerWrapper">
	<section id="mainFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="footerWidgetLeft">
                        <p><a href="#" title="Association ">ASRAC</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="footerWidgetCenter text-center">
						<h3>Asrac</h3>
						<address>
							<p> <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; 12 avenue de Guyenne<br>
								35000 Rennes</p>
                            <p> <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; 06.31.94.01.24 </p>
								<p><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:asrac35@gmail.com"> Mail</a> </p>
							</address>
						</div>
					</div>
					<!-----partie reseaux sociaux------>
					<div class="col-sm-4">
						<div class="footerWidgetRight">
							<h3>Nous suivre</h3>
							<div class="socialNetwork">
								<a href="#" class="tips" title="Suivez nous sur Facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
								<a href="#" class="tips" title="Suivez nous sur Twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
								<a href="#" class="tips" title="Suivez nous sur Google+"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
							</div>     
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!---Mentions légales----->
		<section id="footerRights">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Copyright © 2016 <a href="{{ app.request.basepath }}/images/mention_legales.pdf" target="blank">Mentions légales</a> / Asrac </p>
					</div>
				</div>
			</div>
		</section>
</footer>
   
   
    
    </body>
    
</html>
